body {
	background: whitesmoke;
	color: blue;
	font-family: "Courier";
}

.container {
	margin: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	border-radius: 20px;
	color: black;
}